extends ./layout.pug

block content

  // User must be logged in for this to render
  // require('connect-ensure-login').ensureLoggedIn()
  // redirects if not logged in

  p
    | User Id: #{user.id}
    br
    | Username: #{user.username}
    br
  a(href="/logout") Log out
